body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contacts {
  text-align: center;
  font-size: 4em;
  background: linear-gradient(90deg, rgba(215,226,231,1) 0%, rgba(55,134,90,1) 0%, rgba(36,162,160,1) 50%, rgba(71,167,132,1) 100%);
}

.form {
  font-size: 2em;
  width: 100%;
  border: transparent;
  outline: none;
  background-color: rgba(168, 163, 157, 0.288);
}

.user {
  margin: 0 10px 10px 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
  font-weight: 600;
  list-style-type: none;
  background-color: rgb(166, 255, 255);
  border-bottom: 1px solid grey;
}

.user__list {
  margin: 0;
  padding: 0;
  background-color: rgb(166, 255, 255);
}

.user__avatar {
  width: 50px;
  height: 50px;
}

.checkbox {
  float: right;
}

.button {
  width: 15px;
  height: 15px;
  background-color: rgb(238, 238, 55);
  border-radius: 50%;
  outline: none;
}

.button-next {
  width: 15px;
  height: 15px;
  background-color: rgb(172, 54, 162);
  border-radius: 50%;
  outline: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  align-self: center;
  margin: 100px auto;
  display: block;
}

.loader-animated {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}